{erl_opts, [{parse_transform, lager_transform}]}.
{deps, [
      {lager, {git, "git://github.com/basho/lager.git", {branch, "master"}}},
      {jsx, {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}},
      {tcp_client, {git, "https://github.com/cabol/tcp_client", {branch, "master"}}}
]}.

%{ct_opts, [{config, "config/sys.config"} ]}.

{relx, [{release, {escat, "0.0.1"},
	[
		kernel,
		stdlib,
		sasl,
    escat
		]},

	{dev_mode, false},
	{include_erts, true},

	{extended_start_script, true},

	{vm_args, "config/vm.args"},
	{sys_config, "config/sys.config"}

	]}.

