[
  %% Lager Config
  {lager, [
      {colored,true},
      {handlers, [
        {lager_console_backend, [debug, {lager_default_formatter, [time, color, " [",severity,"] ", module, " - ", message, "\e[0m\r\n"]}]},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]}
      ]}
  ]},
  
  {ct, [
    {dir, "test/output"}
  ]},

  %% Lager Config
  {tcp_client, [
    {pools, [
      {spool, 1,[
        {address, {local, "/run/suricata/suricata-command.socket"}},
        {port, 0},
        {options, []}
      ]}
    ]}
  ]}

].
